{% extends "base.html" %}
{% block title %}Add new pizza{% endblock %}

{% block content %}

<div class="container">

<div class="card mb-03" style="width:80%;">
<h1>Add new pizza</h1>
<form id="pizza_form" method="post" action=".">

    {% csrf_token %}

    <h4>Pizza name:

        {{ pForm.name }}</h4>
    <p>
    <button type="submit" class="btn btn-outline-success" name="submit"><i class="fas fa-plus-square"></i>  Add new pizza</button>
    <a class="btn btn-outline-primary" href="{% url 'pizzas:list' %}" ><i class="fas fa-undo"></i> Return back to list</a>
    </p>


</form>

{% endblock %}
