<div class='col-12 col-md-12 mb-3 mx-auto'>
    <div class='card border text-dark'>
        <div class="card-body">
            <h2 class="card-title">
           {% if not detail %}
                <a href="{{ pizza.get_absolute_url }}" >
            {% endif %}<span class="badge badge-pill badge-primary">
                {{ pizza.name }}</span>
            {% if not detail %}
                </a>
            {% endif %}
            </h2>


            {% for top_amount in top_amt %}
                {% if top_amount.pizza_id == pizza.id %}
                    {{ top_amount.topping }} ({{ top_amount.get_amount_display }}),
                {% endif %}
            {% endfor %}


            <small class='text-muted'>
            <p>
<!--                Number of toppings: {{ pizza.nr_of_toppings }}, <br>-->
<!--                Total amount of toppings: {{ pizza.total_toppings_amount }}g-->

            </p>

            </small>

            <p>
                Votes: {% if pizza.votes %}{{ pizza.votes }}{% else %}0{% endif %}
            </p>
            {% if detail %}
                <a class="btn btn-outline-danger" href="{{ pizza.get_delete_url }}" ><i class="fas fa-trash"></i> Delete</a>
                <a class="btn btn-outline-success" href="{{ pizza.get_edit_url }}" ><i class="fas fa-edit"></i> Edit</a>
                <a href="{% url 'pizzas:list' %}" class="btn btn-outline-primary"><i class="fas fa-undo"></i> Back to list</a>

            {% else %}
                <a class="btn btn-outline-info" href="{{ pizza.get_vote_url }}" ><i class="fas fa-vote-yea"></i> Vote on {{ pizza.name }} pizza</a>
            {% endif %}
        </div>
    </div>
</div>
